@use "root" as *;

html {
	color-scheme: dark light;
}

body {
	display: flex;
	flex-direction: column;
	font-family: var(--ff-global);
	font-size: var(--fs-400);
	background: url(/public/images/bg-stars.svg),
		linear-gradient(180deg, var(--clr-neutral-800), var(--clr-primary-purple));
}
