:root {
	/* PRIMARY COLORS */
	--clr-primary-gray: hsl(237, 18%, 59%);
	--clr-primary-pink: hsl(345, 95%, 68%);
	--clr-primary-dark-pink: hsl(345, 62%, 57%);
	--clr-primary-purple: hsl(268, 21%, 14%);

	/* NEUTRAL COLORS */
	--clr-neutral-100: hsl(0, 0%, 100%);
	--clr-neutral-600: hsl(236, 21%, 26%);
	--clr-neutral-700: hsl(240, 21%, 22%);
	--clr-neutral-800: hsl(235, 16%, 14%);
	--clr-neutral-900: hsl(234, 17%, 12%);

	/* FONT */
	--ff-global: "Red Hat Text", sans-serif;
	--fw-bold: 700;
	--fs-400: 0.875rem;
}
